{% load thumbnail%}
{% for product in products %}

{% if forloop.last %}
<div class="col" hx-get="{% url 'staff:products' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed"
    hx-swap="afterend">
    {% else %}
    <div class="col">
        {% endif %}
        <a class="text-black text-decoration-none fs-4" href="{{product.get_absolute_url}}">
            <div class="card shadow-sm h-100" style="width: 400px">
                {% thumbnail product.image "400x400" as im %}
                    <div style="position: relative">
                              {% if product.discount %}
                    <div class="sale" style="background-color: green; width: max-content; color: white;
                border-radius: 5px; margin: 5px; font-size: 20px; padding: 5px; position: absolute">SALE {{ product.discount }}%</div>
                    {% endif %}
                {% if product.rating %}
                    <div class="rating" style="position: absolute; right: 0px; margin: 5px; margin-left: auto; background-color: gold
; border-radius: 5px; padding: 5px">&#9733; {{ product.rating }}</div>
                {% endif %}
                    <img class="img-fluid h-100" alt="Responsive image" src="{{ im.url }}" />
                    </div>
                {% endthumbnail %}
                <div class="card-body">
                    <p class="card-text">
                        {{product.title|capfirst}}
                    </p>
                                            <div class="prod_change"><a href="{% url 'staff:change_product' product.slug %}">Изменить</a>
                        <a href="{% url 'staff:delete_product' product.slug %}">Удалить</a></div>
                    <div class="d-flex justify-content-between align-items-center badge search-button text-wrap text-dark"
                        style="width: 6rem">
                        <span class="text-decoration-line-through fw-bold text-danger"><h5>{{product.price}}</h5></span>
                        <span class="h6 fw-bold" style="margin-left: 40px"><h3>{{product.get_discounted_price}}</h3></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endfor %}