
{% extends "layout.html" %}


{% load static %}


{% block content %}

<style>

    body
    {

        background-color: gray;

    }


</style>


    <body>

        <br>

        <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">

            <form id="form" action="{% url 'payment:complete-order' %}" method="post">

                <div>

                    <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Заполните информацию для заказа </h3>

                    <p> Введите данные </p>



                    <hr>

                    <br>

                    <div class="form-field">

                        <input class="form-control validate" id="name" type="text" placeholder="Имя*" autocomplete="off" value="{{shipping_address.full_name}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="email" type="email" placeholder="Email*" autocomplete="off" value="{{shipping_address.email}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="address1" type="text" placeholder="Улица*" autocomplete="off" value="{{shipping_address.street_address}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="address2" type="text" placeholder="Дом" autocomplete="off" value="{{shipping_address.apartment_address}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="city" type="text" placeholder="Город*" autocomplete="off" value="{{shipping_address.city}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="state" type="text" placeholder="Страна" autocomplete="off" value="{{shipping_address.country}}">

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="zipcode" type="text" placeholder="Почтовый индекс (Опционально)"
                               autocomplete="off" value="{{shipping_address.index}}">

                    </div>

                </div>

                <br>
                {% csrf_token %}


               <button id="complete-order-stripe" type="submit" class="btn btn-primary navbar-btn text-white" name="stripe-payment"
                       value="stripe-payment">Оплатить через Stripe</button>
               <button id="complete-order-yookassa" type="submit" class="btn btn-primary navbar-btn text-white" name="yookassa-payment"
                       value="yookassa-payment"> &nbsp; Оплатить через Yookassa </button>


                <br>




            </form>


        </div>



        <br>


    </body>






{% endblock %}
